config firewall policy
    edit 0
        set name "{{ policy.name }}"
        set srcintf "{{ policy.srcintf }}"
        set dstintf "{{ policy.dstintf }}"
        set srcaddr "{{ policy.srcaddr }}"
        set dstaddr "{{ policy.dstaddr }}"
        set action "{{ policy.policy_action }}"
        set service "{{ policy.service }}"
        set schedule "{{ policy.schedule }}"
        set nat {{ policy.nat }}
        set comments "Pushed by Ansible"
    next
end


