config firewall policy
    edit 0
        set name "{{ name }}"
        set srcintf "{{ srcintf }}"
        set dstintf "{{ dstintf }}"
        set srcaddr "{{ srcaddr }}"
        set dstaddr "{{ dstaddr }}"
        set action "{{ policy_action }}"
        set service "{{ service }}"
        set schedule "{{ schedule }}"
        set nat {{ nat }}
        set comments "Pushed by Ansible"
    next
end
