config firewall policy
    edit 0
        set name "{{ policy.name }}"
        set srcintf "{{ policy.srcintf }}"
        set dstintf "{{ policy.dstintf }}"
        set srcaddr "{{ policy.source }}"
        set dstaddr "{{ policy.destination }}"
        set action "{{ policy.action }}"
        set service {{ policy.service | join(" ") }}
        set schedule "always"
        set nat {{ policy.nat }}
    next
end


